.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.entry-footer {
	padding: 10px 0;
	border-top: 1px solid #ccc;
	// border-bottom: 1px solid #ccc;
	font-size: 12px;
	color: #333;
	a {
		color: $color-black;
		&:hover {
			color: $color-red;
		}
	}
}
section.homepage {
	width: 100%;
	@media screen and (min-width: $tabwidth) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
	}
	.item {
		width: 100%;
		float: left;
		margin: 0 0 20px 0;
		padding: 10px;
		@media screen and (min-width: $tabwidth) {
			width: auto;
			flex-basis: 45%;
			padding: 2%;
			border-bottom: 4px solid #ccc;
		}
	}
	article {border: 0;}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;

	}
	li {
		margin: 0 0 5px 0;

	}
	a {
		color: $color-black;
		border-bottom: 1px solid $color-red;
		&:hover {
			color: $color-red;
		}
	}

}